.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list .line {
  height: 1px;
  background-color: #d9d9d9;
}

/* main - middle */
.middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.middle .top,
.middle .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  color: #959595;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  font-size: 12px;
  line-height: 19px;

  padding: 4px 12px;
  cursor: pointer;
}
