html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  color: inherit;
  list-style: none;
}
