@import "tailwindcss";

[data-id="menuCategory"]::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  width: 1px;
  height: 90%;
  background-color: #e7e7e7;

  cursor: default;
}

[data-tag="popular"] .tag {
  background-color: #fbbc58;
}
[data-tag="new"] .tag {
  background-color: #b65637;
}
[data-tag="soldout"] .tag {
  background-color: #555b5f;
}
[data-tag="soldout"] .imgBox,
[data-tag="soldout"] .shopIcon {
  background-color: #e7e7e7;
}
[data-tag="soldout"] .content {
  color: #b4b4b4;
}

[data-tag="ok"] {
  color: #4caff8;
}
[data-tag="fail"] {
  color: #f84c4c;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@utility loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #4caff8;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
