.header {
  width: 100%;
  height: auto;
  background-color: #f4f4f4;

  cursor: default;
  position: relative;
  z-index: 9;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
}

.nav {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.imgBox {
  width: 100%;
  height: 100%;
  display: flex;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  line-height: 20px;
}
