/* Count button */
.btnWrap {
  height: auto;

  display: flex;
  align-items: center;

  border: 1px solid #e6e6e6;
  border-radius: 3px;

  cursor: default;
}

.count,
.number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.count {
  width: 20px;
  height: 20px;
  padding: 2px 4px;
  box-sizing: content-box;
  color: #959595;

  cursor: pointer;
}
.number {
  width: 30px;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-top: none;
  border-bottom: none;

  font-size: 13px;
}
