.iconBox {
  width: 100%;
  height: 100%;
  position: relative;
}

/* 직선 */
.vert,
.horz {
  width: 50%;
  height: 1px;
  background-color: #222;
  border-radius: 3px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}
.vert {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* 화살표 */
.arw {
  border: solid #c9c9c9;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;

  transform: translate(5px, -2px) rotate(135deg);
}
