.wrap {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;

  cursor: default;
}

/* top */
.top {
  width: 100%;
  background-color: #fff;
  position: relative;

  border-top: 1px solid #e6e6e6;
  padding: 15px;
}
/* bottom */
.bottom {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  color: white;
  font-weight: 700;
  background-color: #4caff8;

  cursor: pointer;
}
