/* header bottom */
.categories {
  width: 100%;
  max-width: 350px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
}

/* cate icon */
.cate {
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}
.icon {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
