/* menuTItleList */
.menuTitleList {
  width: 100%;
  height: 5vh;
  min-height: 40px;
  max-height: 40px;
  padding: 0 15px;
  border-bottom: 1px solid #e7e7e7;

  position: relative;
}

.swiper-wrapper div {
  height: 100%;

  display: flex !important;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* seperate line */
.swiper-wrapper > div::after {
  position: absolute;
  content: '';
  top: 15px;
  right: -15px;
  width: 1px;
  height: 12px;
  background-color: #e7e7e7;

  cursor: default;
}

.titleWrap {
  width: 100%;
  position: relative;
}

.title {
  font-size: 12px;
  /* zoom: 0.85; */
}

.underline {
  width: 100%;
  height: 1px !important;
  background-color: #222;
  position: absolute;
  bottom: -1px;
  left: 0;
}
