/* header bottom */
.categories {
  width: 100%;
  max-width: 350px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
}

/* cate */
.cate {
  height: 19px;

  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}

.icon {
  display: flex;
}

.title {
  line-height: 19px;
}
