/* cateoryList */
.cateoryList {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;

  position: relative;
  display: flex;
  overflow-x: auto;

  /* underLine cover */
  padding-bottom: 1px;
}
.cateoryList::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
